VITE_API_URL_ALL_COINS=https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&ids=bitcoin&names=Bitcoin&symbols=btc&category=layer-1&price_change_percentage=1h&sparkline=true
VITE_API_KEY=CG-TqrtnL2ugA4Qk99nQ8y9Bfwv
# 