VITE_API_URL=https://api.coingecko.com/api/v3/coins/
VITE_API_URL_ALL_COINS=markets?vs_currency=eur&ids=bitcoin&names=Bitcoin&symbols=btc&category=layer-1&price_change_percentage=1h&sparkline=true
VITE_API_URL_COIN_DETAILS=/market_chart?vs_currency=eur&days=
VITE_API_KEY=your_api_key_here
VITE_API_TRANSLATE_URL=https://lingva.ml/api/v1/auto/es/